<section class="relative overflow-hidden min-h-screen flex items-center bg-base-200 section-bg">
    <div class="container mx-auto ">
        <div class="grid grid-cols-1 lg:grid-cols-2 items-center gap-8">

            <!-- Columna de Texto (Izquierda) -->
            <div class="z-10 p-4 md:p-0">

                <h1 class="text-4xl md:text-6xl font-bold text-gray-800 leading-tight">
                    Su empresa es única. Su software también debería serlo.

                </h1>
                <p class="mt-6 text-gray-600 max-w-lg">
                    Construimos <strong class="text-primary">aplicaciones de RRHH</strong> personalizadas que se
                    integran perfectamente con sus procesos y
                    cultura de trabajo, desde el fichaje del personal hasta los reportes avanzados de gestión.
                </p>
                <button class="btn bg-primary  text-white mt-8 px-8">
                    Construyamos su Solución
                </button>

            </div>

            <!-- <div class="relative h-full hidden lg:block">
                <div class="absolute inset-0 -right-1/2">
                    <div class="w-full h-full bg-gray-200 rounded-full" style="transform: translateX(30%) scale(1.5);">
                    </div>
                </div>

                <div class="relative w-full h-full flex items-center justify-center">
                    <img src="https://img.freepik.com/free-photo/young-businesswoman-sitting-chair-using-digital-tablet_23-2147937435.jpg?t=st=1721406563~exp=1721410163~hmac=62174c8f6158223c21a1136c74776104e1451f2f81938d2f7f9811462444634f&w=740"
                        alt="Mujer profesional en una oficina moderna"
                        class="rounded-lg shadow-2xl object-cover max-w-md z-10"
                        onerror="this.onerror=null;this.src='https://placehold.co/600x800/e2e8f0/4a5568?text=Imagen+no+disponible';">
                </div>
            </div> -->

        </div>
    </div>
</section>
