.section-bg {
  background-image: linear-gradient(to right, #ffffff, rgba(13, 27, 62, 0) 50%), url('/img/header.avif');
    background-size: auto 120%;
    background-position: right top;
    background-repeat: no-repeat;
}